.login{
  width: 100%;
  height: 100%;
  background-color: #0079b2;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-form{
    background-color: #ffffff;
    width: 600px;
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    .login-form-title{

    }
  }
}